%form{:id => 'quick_add_form', :method => 'POST', :action => '/bookmarks/quick_new'}
	%label{:for => 'list'} List
	.padding
		%select{:name => 'list'}
			- user.lists.each do |list|
				%option{:value => list.id, :selected => list.id == list_id.to_i}= list.title
	%label{:for => 'title'} Title
	%input{:id => 'title', :name => 'title', :type => 'text', :value => title}
	%label{:for => 'url'} URL
	%input{:name => 'url', :type => 'text', :value => url}
	%input{:type => 'submit', :value => 'add'}