#registration
	%form{:id => 'registration_form', :method => 'POST', :action => '/register'}
		%label{:for => 'username'} Username
		%input{:name => 'username', :type => 'text'}
		%label{:for => 'passphrase'} Password
		%input{:name => 'passphrase', :type => 'password'}
		%label{:for => 'passphrase_confirmation'} Password confirmation
		%input{:name => 'passphrase_confirmation', :type => 'password'}
		%label{:for => 'email'} Email
		%input{:name => 'email', :type => 'text'}
		%input{:type => 'submit', :value => 'Register'}
